<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tor.mapper.PcapMapper" >
    <resultMap id="BaseResultMap" type="com.tor.pojo.Pcap" >
        <constructor >
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="file_name" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="file_size" jdbcType="FLOAT" javaType="java.lang.Float" />
            <arg column="file_path" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="is_handled" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List" >
        id, file_name, file_size, file_path, is_handled, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from data_pcap
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from data_pcap
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.tor.pojo.Pcap" >
        insert into data_pcap (id, file_name, file_size, file_path, is_handled, create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=FLOAT},
                #{filePath,jdbcType=VARCHAR}, #{isHandled,jdbcType=VARCHAR}, now(),
                null)
    </insert>
    <insert id="insertSelective" parameterType="com.tor.pojo.Pcap" >
        insert into data_pcap
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="fileName != null" >
                file_name,
            </if>
            <if test="fileSize != null" >
                file_size,
            </if>
            <if test="filePath != null" >
                file_path,
            </if>
            <if test="idHandled != null" >
                is_handled,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="fileName != null" >
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null" >
                #{fileSize,jdbcType=FLOAT},
            </if>
            <if test="filePath != null" >
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="isHandled != null" >
                #{isHandled,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                now(),
            </if>
            <if test="updateTime != null" >
                null ,
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tor.pojo.Pcap" >
        update data_pcap
        <set >
            <if test="fileName != null" >
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null" >
                file_size = #{fileSize,jdbcType=FLOAT},
            </if>
            <if test="filePath != null" >
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="isHandled != null" >
                is_handled = #{isHandled,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = now(),
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tor.pojo.Pcap" >
        update data_pcap
        set file_name = #{fileName,jdbcType=VARCHAR},
            file_size = #{fileSize,jdbcType=FLOAT},
            file_path = #{filePath,jdbcType=VARCHAR},
            is_handled = #{isHandled,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = now()
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from data_pcap
    </select>




</mapper>